:root{
  --bg:black;
  --text:white;
  --btn:#e5e7eb;
  --btb:rgb(179, 12, 137);
  --btnbg:rgb(12, 208, 208);

}
:root.theme-light{
  --bg:white;
  --text:black;
  --btn:#000827;
  --btnbg:rgb(12, 208, 208);
  --btb:rgb(179, 12, 137);
}







body {
  background-color:var(--bg);
  color:var(--text);
}

button  {
  width: 10em;
  height: 5ex;
  background-color:var(--btn) ;
  color :var(--text) ; 
  padding: 5px 10px;
  border: none; 
  border-radius: 10px;
  cursor: pointer;   
  background-color:var(--btb);
  font-weight: bold;
}
button:hover {
  background-color:var(--btnbg);
  
}

img {
  border-radius: 10px;
  border: 2px solid rgba(9, 7, 7, 0.294); 
}


