:root{
  --bg:black;
  --text:white;
  --btn:white;
  --btnbg:rgb(12, 208, 208);
  --btb:rgb(99, 10, 76);
  --color:#e00cb2; 
}
:root.theme-light{
  --bg:white;
  --text:black;
  --btn:black;
  --btb:rgb(179, 12, 137);
  --btnbg:rgb(12, 208, 208);
   --color:#4b0ad7;
}

  
a {
  color:var(--color);
}
*{box-sizing: border-box;}
body {
  padding: 0;
  margin: 0;
}


body {
  background-color:var(--bg);
  color:var(--text);
  font-size: 1rem;
}


profile-picture {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  background-image: url("1760983154987.jpg");
  background-size: cover;
  background-position: center center;
}
button:hover {
  background-color:var(--btnbg);
}
figure.profile {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  object-fit: cover;
  object-position: center center;
}
figure.profile >img {
  max-width: 100%;
}

h1{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
h5{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
li{font-family: 'Courier New', Courier, monospace;}
h1{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
body{
  text-align: center;
}
