:root{
  --bg:black;
  --text:white;
  --btn:#e5e7eb;

}
:root.theme-light{
  --bg:white;
  --text:black;
  --btn:#000827;

}
.btn-theme {
   width: 10em;
  height: 5ex;
  background-color: gold;
  border: 2px solid firebrick;
  border-radius: 10px;
  font-weight: bold;
  color: black;
  cursor: pointer;
}
.btn-theme








body {background-color:var(--bg);color:var(--text);}

button {
  background-color:var(--btn) ;
  color :var(--text) ; 
  padding: 5px 10px;
  border: none; 
  border-radius: 10px;
  cursor: pointer;   
  background-color: blue;
}
img {
  border-radius: 10px;
  border: 2px solid rgba(9, 7, 7, 0.294); 
} 